* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    border-top: 3px solid rgb(243, 128, 32);
    height: 100vh;
    background: linear-gradient(to right top, #d8d8d5, #ebe7e7);

}

.sadmessage {
    margin: 10px;
    text-align: center;
}

.sadmessage h1 {
    line-height: 40px;
    font-size: 36px;
}

.sadmessage h2 {
    margin-top: 20px;
    font-size: 18px;
}

.box {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    min-width: 40%;
    width: 400px;
    min-height: 60vh;
    background-color: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    animation: fadeIn ease 1.5s;
}

.logo {
    margin: 20px auto;
}

.cfcp{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-top: 10px;
}

.cfcp h1{
    text-align: center;
    font-size: 32px;
    padding-bottom: 20px;
}
.cfcp p{
    padding-bottom: 10px;
}

.cfcp ul{
    padding-left: 40px;
}

img {
    width: auto;
    height: 200px;
}

footer {
    width: 100%;
    bottom: 0;
    border-top: 1px solid rgb(130, 130, 130);
    float: bottom;
    position: fixed;
    text-align: center;
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }